{% extends 'catalog/base.html'%}

{% block content %}
{% load my_tags %}
<div class="container">
    <div class="row text-center">
        <div class="col-8">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object }}</h4>
                </div>
                <img src="{% mediapath object.product_image %}" width="100" height="500" class="card-img-top" alt="{{object.product_name}}">
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ object.product_price }}p.</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <p> {{ object.product_description|slice:2000 }} </p>
                    </ul>
                    <div class="card-body">

{% if object.author == user %}
                <a href="{% url 'catalog:update_product' object.pk %}"
                class="btn btn-sm btn-outline-secondary">Редактировать</a>
{% endif %}
                <input type="button" class="btn btn-sm btn-outline-secondary" value="Назад" onclick="history.back()">
{% if object.author == user %}
                <a href="{% url 'catalog:delete_product' object.pk %}"
                class="btn btn-sm btn-outline-secondary">Удалить</a>
{% endif %}
            </div>
                    <div class="card-footer">
                    {% for version in object.version_set.all %}
                        {% if version.is_active %}
                        Версия: {{ version.name }}
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}